<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352821292141-34155966ni3ebh69j9df805vu2les1ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352821292141-34155966ni3ebh69j9df805vu2les1ec</string>
	<key>API_KEY</key>
	<string>AIzaSyCRVpdFLBUSPOSmtfoIm7WomnWNkqzfHQU</string>
	<key>GCM_SENDER_ID</key>
	<string>352821292141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChats</string>
	<key>PROJECT_ID</key>
	<string>we-chat-s-333f0</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-s-333f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352821292141:ios:355a3bec30b0ede90fa364</string>
</dict>
</plist>